services:
  - type: web
    name: mediscan-pro-full
    env: python 3
    plan: free
    buildCommand: pip install -r requirements.txt 
    startCommand: python app.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.16




